@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/pym3ipg.css");

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: neue-haas-unica, sans-serif; 

}
body {
  @apply text-grey;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

video {
  @apply rounded-md border md:aspect-video md:object-cover;
}
.timelineImage {
  @apply aspect-[16/9];
}
.projectHomeText p {
  
  top: 0;
  /* bottom: 0; */
  @apply text-link;
}

/* .projectImageHome {
top: 43%;
  @apply md:absolute md:w-6/12;
} */

h1{
  letter-spacing: -.015em;
  line-height: 90%;
}
h2,h3,h4 {
  letter-spacing: -.015em;
  line-height: 110%;
}
h1{
  @apply text-grey;
}

h2,h3{
  @apply text-grey pb-4 text-2xl md:text-5xl xl:text-6xl md:pb-5;
}
h4{
  @apply text-grey pb-4 text-link md:text-2xl md:pb-5;
}