@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/pym3ipg.css");

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: neue-haas-unica, sans-serif; 

}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}



h1{
  letter-spacing: -.015em;
  line-height: 100%;
}
h2,h3 {
  letter-spacing: -.015em;
  line-height: 110%;
}

h2,h3{
  @apply mb-4 text-2xl md:text-6xl md:mb-5;
}